
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

body {
    background-color: #5865F2;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: xx-large;
  font-weight: bold;
  color: whitesmoke;
}

.div_container {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
}

.div_content {
  width: 800px;
  height: 600px;
  background: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #7289da;
  border-radius: 10px;
}

#uploadButton {
  background-color: #5865F2;
  border-radius: 5px;
  padding: 3px;
  z-index: 10;
  position: relative;
  pointer-events: auto;
  cursor: pointer;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
  color: whitesmoke;
}

#fileInfoText {
    position: relative;
    font-family: "Inter", sans-serif;
    color: whitesmoke;
}

#uploadArrow {
    height: 200px;
    width: auto;
}